@media screen and (max-width: 1650px) {
  .container4 .cards {
    margin-top: 2.6041666666666665vw;
  }
}

@media screen and (max-width: 1500px) {
  .top {
    height: 5vw;
    width: 5vw;
    font-size: 6vw;
  }

  .logoContainer img {
    width: 15vw;
  }

  .navLink {
    font-size: 2.3vw;
  }

  .heroContainer .sea1 {
    height: 6vw;
    background-size: 100vw 6vw;
  }

  .heroContainer .sea2 {
    height: 9vw;
    background-size: 100vw 9vw;
  }

  .heroContainer .sea3 {
    height: 11vw;
    background-size: 100vw 11vw;
  }

  .heroContainer .sea4 {
    height: 12vw;
    background-size: 100vw 12vw;
  }

  .heroContainer .boat img {
    width: 38.9448vw;
    height: 27vw;
  }

  .heroContainer .cloud1 img {
    width: 18.0356vw;
    height: 10vw;
    margin-top: 23vw;
    right: -16%;
  }

  .heroContainer .cloud2 img {
    width: 20.3888vw;
    height: 12vw;
    right: -25%;
    top: 4.416666666666666vw;
  }

  .heroContainer .sun img {
    height: 20vw;
  }

  .container1 h1 {
    font-size: 3.6vw;
    top: 7vw;
  }

  .container1 .hello img {
    height: 39vw;
  }

  .fish img:nth-child(1) {
    height: 4.5vw;
    margin-top: 7.708333333333333vw;
    left: -8%;
  }

  .fish img:nth-child(2) {
    height: 4.5vw;
    margin-top: 25vw;
    left: -8%;
  }

  .fish img:nth-child(3) {
    height: 4.5vw;
    margin-top: 40vw;
    right: -8%;
  }

  .fish img:nth-child(4) {
    height: 4.5vw;
    margin-top: 19vw;
    right: -8%;
  }

  .fish img:nth-child(5) {
    height: 4.5vw;
    margin-top: 7.5vw;
    right: -8%;
  }

  .fish img:nth-child(6) {
    height: 4.5vw;
    margin-top: 45vw;
    left: -8%;
  }

  @keyframes fishL {
    0% {
      transform: translate(0, 0) rotateY(180deg);
    }
    50% {
      transform: translate(-108vw, 10.416666666666666vw) rotateY(180deg);
    }
    51% {
      transform: translate(-108vw, 10.416666666666666vw) rotateY(0deg);
    }
    100% {
      transform: translate(0, 0) rotateY(0deg);
    }
  }

  @keyframes fishR {
    0% {
      transform: translate(0, 0) rotateY(180deg);
    }
    50% {
      transform: translate(108vw, 5.208333333333333vw) rotateY(180deg);
    }
    51% {
      transform: translate(108vw, 5.208333333333333vw) rotateY(0deg);
    }
    100% {
      transform: translate(0, 0) rotateY(0deg);
    }
  }

  .bubble img:nth-child(1) {
    margin-top: 7vw;
    height: 8.5vw;
  }

  .bubble img:nth-child(2) {
    margin-top: 45%;
    height: 13vw;
  }

  .bubble img:nth-child(3) {
    margin-top: 25%;
    height: 7vw;
  }

  .container2 .content1 h1 {
    font-size: 6vw;
  }

  .container2 .content1 p {
    line-height: 3.5vw;
    font-size: 2.3vw;
    padding: 1.0416666666666667vw 4.208333333333333vw 0px 4.208333333333333vw;
  }

  .container2 .content2 img {
    height: 30vw;
  }

  .container2 .content2 h1 {
    font-size: 4vw;
    left: 69%;
  }

  .container3 h1 {
    font-size: 5vw;
    top: 5vw;
  }

  .container3 .skills {
    padding: 13vw 0px 0vw 0px;
  }

  .container3 .learning {
    padding-top: 13vw;
  }

  .container4 h1 {
    font-size: 5vw;
    top: 10vw;
  }

  .container4 .cards {
    margin-top: 5.208333333333333vw;
  }

  .container4 .faceContent img {
    height: 16vw;
    width: auto;
  }

  .cards .card .face {
    width: 25vw;
    height: 16vw;
  }

  .cards .card .face.face1 {
    height: 17vw;
    width: 25vw;
    transform: translateY(8vw);
  }

  .cards .card .face.face2 {
    transform: translateY(-8vw);
  }

  .cards .card .face.face2 .faceContent p {
    font-size: 1.5vw;
    line-height: 2.5vw;
  }

  .cards .card .face.face2 .faceContent a {
    margin: 1vw 0 0;
    font-size: 1.5vw;
    border: 0.09vw solid #000;
  }

  .container5 .content1 h1 {
    font-size: 4.5vw;
  }

  .container5 .content1 p {
    line-height: 3.5vw;
    font-size: 2vw;
    padding: 1.0416666666666667vw 4.208333333333333vw 0px 4.208333333333333vw;
  }

  .container5 .content2 img {
    height: 30vw;
  }

  .container5 .content2 h1 {
    font-size: 4vw;
    left: 67.5%;
  }

  .container5 .content1 a {
    padding: 0.5645833333333333vw 1.2416666666666667vw;
    color: #fff;
    border-radius: 3vw;
    font-size: 1.5vw;
  }

  .container6 h1 {
    font-size: 5vw;
  }

  .container6 .videos iframe {
    width: 30.2033vw;
    height: 17vw;
  }

  .container7 h1 {
    font-size: 5vw;
    padding-top: 3vw;
  }

  .score h2 {
    font-size: 2vw;
  }

  .score p {
    padding: 0.82vw;
    font-size: 1.7vw;
  }

  .intro h1 {
    font-size: 2vw;
    padding: 0 20.833333333333332vw 0 20.833333333333332vw;
    line-height: 3vw;
  }

  .intro button,
  .match button,
  .result button {
    width: 9vw;
    height: 3.5vw;
    font-size: 1.7vw;
    border-radius: 2vw;
  }

  .hands img {
    height: 8.5vw;
  }

  .container8 .plants img {
    height: 12vw;
  }

  .plant {
    padding: 0px 1.5vw 0px 1.5vw;
  }

  .footer h3 {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 1200px) {
  .top {
    height: 6vw;
    width: 6vw;
    font-size: 8vw;
  }

  .logoContainer img {
    width: 17vw;
  }

  .navLink {
    font-size: 2.7vw;
  }

  .heroContainer .sea1 {
    height: 8vw;
    background-size: 100vw 8vw;
  }

  .heroContainer .sea2 {
    height: 11vw;
    background-size: 100vw 11vw;
  }

  .heroContainer .sea3 {
    height: 13vw;
    background-size: 100vw 13vw;
  }

  .heroContainer .sea4 {
    height: 14vw;
    background-size: 100vw 14vw;
  }

  .heroContainer .boat img {
    width: 50.484vw;
    height: 35vw;
  }

  .heroContainer .cloud1 img {
    width: 21.6427vw;
    height: 12vw;
    margin-top: 27vw;
    right: -16%;
  }

  .heroContainer .cloud2 img {
    width: 23.7869vw;
    height: 14vw;
    right: -25%;
    top: 5vw;
  }

  .heroContainer .sun img {
    height: 24vw;
  }

  .container1 h1 {
    font-size: 4.3vw;
    top: 9vw;
  }

  .container1 .hello img {
    height: 47vw;
  }

  .fish img:nth-child(1) {
    height: 5vw;
    margin-top: 10vw;
    left: -8%;
  }

  .fish img:nth-child(2) {
    height: 5vw;
    margin-top: 35vw;
    left: -8%;
  }

  .fish img:nth-child(3) {
    height: 5vw;
    margin-top: 45vw;
    right: -8%;
  }

  .fish img:nth-child(4) {
    height: 5vw;
    margin-top: 30vw;
    right: -8%;
  }

  .fish img:nth-child(5) {
    height: 5vw;
    margin-top: 15vw;
    right: -8%;
  }

  .fish img:nth-child(6) {
    height: 5vw;
    margin-top: 60vw;
    left: -8%;
  }

  .bubble img:nth-child(1) {
    margin-top: 10vw;
    height: 9.5vw;
  }

  .bubble img:nth-child(2) {
    margin-top: 58%;
    height: 16vw;
  }

  .bubble img:nth-child(3) {
    margin-top: 30%;
    height: 9vw;
  }

  .container2 .content1 h1 {
    font-size: 7vw;
  }

  .container2 .content1 p {
    line-height: 4vw;
    font-size: 2.7vw;
    padding: 1.0416666666666667vw 3.5vw 0px 3.5vw;
  }

  .container2 .content2 img {
    height: 35vw;
  }

  .container2 .content2 h1 {
    font-size: 4.5vw;
    left: 68%;
  }

  .container3 h1 {
    font-size: 6vw;
    top: 7vw;
  }

  .container3 .skills {
    padding: 16vw 0px 0vw 0px;
  }

  .container3 .learning {
    padding-top: 16vw;
  }

  .container4 h1 {
    font-size: 6vw;
    top: 10vw;
  }

  .container4 .cards {
    margin-top: 7vw;
  }

  .container5 .content1 h1 {
    font-size: 5vw;
  }

  .container5 .content1 p {
    line-height: 3.7vw;
    font-size: 2.5vw;
    padding: 1.0416666666666667vw 3vw 0px 3vw;
  }

  .container5 .content2 img {
    height: 35vw;
  }

  .container5 .content2 h1 {
    font-size: 4.5vw;
    left: 66.5%;
  }

  .container5 .content1 a {
    padding: 1vw 1.8416666666666667vw;
    color: #fff;
    border: 0.2vw solid #fff;
    border-radius: 3vw;
    font-size: 1.8vw;
  }

  .container6 h1 {
    font-size: 5.5vw;
  }

  .container6 .videos {
    grid-template-columns: 1fr 1fr;
    row-gap: 3vw;
  }

  .container6 .videos iframe {
    width: 37.3099vw;
    height: 21vw;
  }

  .container7 h1 {
    font-size: 5.8vw;
    padding-top: 4vw;
  }

  .score h2 {
    font-size: 2.6vw;
  }

  .score p {
    padding: 1vw;
    font-size: 2vw;
  }

  .intro h1 {
    font-size: 2.5vw;
    padding: 0 19vw 0 19vw;
    line-height: 3.5vw;
  }

  .intro button,
  .match button,
  .result button {
    width: 10vw;
    height: 4.3vw;
    border: 0.2vw solid #fff;
    font-size: 2.1vw;
    border-radius: 2vw;
  }

  .hands img {
    height: 10vw;
  }

  .container8 .plants img {
    height: 15vw;
  }

  .plant {
    padding: 0px 1.8vw 0px 1.8vw;
  }

  .footer h3 {
    font-size: 1.9vw;
  }
}

@media screen and (max-width: 1111px) {
  @keyframes boatMove {
    from {
      transform: translate(0px, -10px);
    }
    to {
      transform: translate(10px, 40px);
    }
  }
}

@media screen and (max-width: 875px) {
  .top {
    height: 7.5vw;
    width: 7.5vw;
    font-size: 10vw;
    bottom: 2.3vw;
    right: 2.3vw;
  }

  .logoContainer img {
    width: 23vw;
  }

  .navLink {
    font-size: 3vw;
  }

  .heroContainer .sea1 {
    height: 11vw;
    background-size: 100vw 11vw;
  }

  .heroContainer .sea2 {
    height: 14vw;
    background-size: 100vw 14vw;
  }

  .heroContainer .sea3 {
    height: 16vw;
    background-size: 100vw 16vw;
  }

  .heroContainer .sea4 {
    height: 17vw;
    background-size: 100vw 17vw;
  }

  .heroContainer .boat img {
    width: 57.696vw;
    height: 40vw;
  }

  @keyframes boatMove {
    from {
      transform: translate(-10vw, -2.8vw);
    }
    to {
      transform: translate(-10vw, 2.8vw);
    }
  }

  .heroContainer .cloud1 img {
    width: 30.6604vw;
    height: 17vw;
    margin-top: 43vw;
    right: -30%;
  }

  .heroContainer .cloud2 img {
    width: 32.2822vw;
    height: 19vw;
    right: -32%;
    top: 9vw;
  }

  @keyframes cloud1 {
    from {
      right: -32%;
    }
    to {
      right: 100%;
    }
  }

  .heroContainer .sun img {
    height: 33vw;
    filter: drop-shadow(0px 0px 4.5vw #ffc300);
  }

  .container1 h1 {
    font-size: 5vw;
    top: 9.6vw;
    line-height: 6.8vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .container1 .hello img {
    height: 62vw;
  }

  .fish img:nth-child(1) {
    height: 6.7vw;
    margin-top: 10vw;
    left: -9.3%;
  }

  .fish img:nth-child(2) {
    height: 6.7vw;
    margin-top: 45vw;
    left: -9.3%;
  }

  .fish img:nth-child(3) {
    height: 6.7vw;
    margin-top: 60vw;
    right: -9.3%;
  }

  .fish img:nth-child(4) {
    height: 6.7vw;
    margin-top: 40vw;
    right: -9.3%;
  }

  .fish img:nth-child(5) {
    height: 6.7vw;
    margin-top: 25vw;
    right: -9.3%;
  }

  .fish img:nth-child(6) {
    height: 6.7vw;
    margin-top: 75vw;
    left: -9.3%;
  }

  .container2 .contents {
    display: flex;
    flex-direction: column;
  }

  .container2 .content1 {
    padding-top: 12vw;
  }

  .container2 .content1 h1 {
    font-size: 9vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .container2 .content1 p {
    line-height: 5vw;
    font-size: 3.5vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
    padding: 1.5vw 5vw 0px 5vw;
  }

  .container2 .content2 img {
    height: 42vw;
  }

  .container2 .content2 h1 {
    font-size: 5.5vw;
    left: 42%;
    top: 78%;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .container3 h1 {
    font-size: 8vw;
    top: 7vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .container3 .skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 6vw;
  }

  .container3 .circlechart:hover {
    filter: drop-shadow(0px 0px 2vw rgb(255, 255, 255));
  }

  .container4 {
    height: 160vh;
  }

  .container4 h1 {
    font-size: 8vw;
    top: 10vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .container4 .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .container4 .faceContent img {
    height: 23vw;
    width: auto;
  }

  .cards .card .face {
    width: 39.0625vw;
    height: 25vw;
  }

  .cards .card .face.face1 {
    width: 39.0625vw;
    height: 25vw;
    border-top-right-radius: 2.3vw;
    border-top-left-radius: 2.3vw;
    border-bottom-right-radius: 2.3vw;
    border-bottom-left-radius: 2.3vw;
    transform: translateY(12.5vw);
  }

  .cards .card .face.face2 {
    transform: translateY(-12.5vw);
    border-top-right-radius: 2.3vw;
    border-top-left-radius: 2.3vw;
    border-bottom-right-radius: 2.3vw;
    border-bottom-left-radius: 2.3vw;
  }

  .cards .card:hover .face.face2 {
    transform: translateY(0);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .cards .card .face.face2 .faceContent p {
    font-size: 2.7vw;
    line-height: 3.5vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .cards .card .face.face2 .faceContent a {
    margin: 1.8vw 0 0;
    font-size: 2.4vw;
    border-radius: 2vw;
    padding: 0.5vw 1.8vw;
    border: 0.1vw solid #000;
  }

  .container5 .contents {
    display: flex;
    flex-direction: column;
  }

  .container5 .content1 {
    padding-top: 10vw;
  }

  .container5 .content1 h1 {
    font-size: 7vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .container5 .content1 p {
    line-height: 5vw;
    font-size: 3.3vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
    padding: 1.5vw 5vw 0px 5vw;
  }

  .container5 .content2 img {
    height: 42vw;
  }

  .container5 .content2 h1 {
    font-size: 5.5vw;
    left: 40.5%;
    top: 78%;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .container5 .content1 a {
    padding: 0.8vw 1.5vw;
    color: #fff;
    border-radius: 3vw;
    font-size: 2.5vw;
    margin: 3vw 0 0;
  }

  .container6 h1 {
    font-size: 5.5vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .container6 .videos {
    grid-template-columns: 1fr 1fr;
    row-gap: 8vw;
  }

  .container6 .videos iframe {
    width: 42.6398vw;
    height: 24vw;
  }

  .container7 h1 {
    font-size: 5.6vw;
    padding-top: 6vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .score h2 {
    font-size: 3.5vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .score p {
    padding: 1vw;
    font-size: 3vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .intro h1 {
    font-size: 3vw;
    padding: 0 15vw 0 15vw;
    line-height: 4vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .intro button,
  .match button,
  .result button {
    width: 12vw;
    height: 4.5vw;
    font-size: 2.5vw;
    border-radius: 3vw;
  }

  .winner {
    font-size: 4vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .hands img {
    height: 12vw;
  }

  .container8 .plants img {
    height: 20vw;
  }

  .footer h3 {
    font-size: 2.6vw;
  }
}

@media screen and (max-width: 768px) {
  /*iPad*/
  .container4 .card {
    padding: 4vw 0px 4vw 0px;
  }
}

@media screen and (max-width: 700px) {
  header {
    height: 8vh;
  }

  .navLink {
    font-size: 3.3vw;
  }

  .heroContainer {
    height: 92vh;
  }

  .heroContainer .sea1 {
    height: 13vw;
    background-size: 100vw 13vw;
  }

  .heroContainer .sea2 {
    height: 16vw;
    background-size: 100vw 16vw;
  }

  .heroContainer .sea3 {
    height: 18vw;
    background-size: 100vw 18vw;
  }

  .heroContainer .sea4 {
    height: 19vw;
    background-size: 100vw 19vw;
  }

  .heroContainer .boat img {
    width: 64.908vw;
    height: 45vw;
  }

  .heroContainer .cloud1 img {
    margin-top: 65vw;
  }

  .heroContainer .cloud2 img {
    top: 20vw;
  }

  .heroContainer .sun img {
    height: 40vw;
    margin: 1vw 0px 0px 2vw;
  }

  .fish img:nth-child(1) {
    margin-top: 10vw;
  }

  .fish img:nth-child(2) {
    margin-top: 65vw;
  }

  .fish img:nth-child(3) {
    margin-top: 90vw;
  }

  .fish img:nth-child(4) {
    margin-top: 60vw;
  }

  .fish img:nth-child(5) {
    margin-top: 45vw;
  }

  .fish img:nth-child(6) {
    margin-top: 100vw;
  }

  .container2 .content1 {
    padding-top: 15vw;
  }

  .container2 .content2 img {
    height: 45vw;
  }

  .container3 h1 {
    top: 10vw;
  }
  .container3 .skills {
    grid-row-gap: 10vw;
    padding: 20vw 0px 0vw 0px;
  }

  .container3 .learning {
    padding-top: 20vw;
  }

  .container5 .content1 {
    padding-top: 15vw;
  }

  .container5 .content2 img {
    height: 45vw;
  }
}

@media screen and (max-width: 650px) {
  .top {
    height: 8vw;
    width: 8vw;
    font-size: 10vw;
  }

  .navLinks {
    right: 0%;
    height: 100vh;
    top: 0%;
    background-color: #d6f5ff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.6s ease-in-out;
    z-index: 1;
  }

  .nav_btn {
    display: block;
  }

  .nav_btn div {
    width: 10vw;
    height: 1.1vw;
    border-radius: 100%;
    margin: 1.5vw;
  }

  .navLink {
    font-size: 4.5vw;
  }

  .container1 h1 {
    font-size: 6vw;
    top: 11vw;
    line-height: 8vw;
  }

  .container1 .hello img {
    height: 75vw;
  }

  .fish img:nth-child(1) {
    height: 7vw;
    margin-top: 10vw;
    left: -9.6%;
  }

  .fish img:nth-child(2) {
    height: 7vw;
    margin-top: 65vw;
    left: -9.6%;
  }

  .fish img:nth-child(3) {
    height: 7vw;
    margin-top: 80vw;
    right: -9.6%;
  }

  .fish img:nth-child(4) {
    height: 7vw;
    margin-top: 60vw;
    right: -9.6%;
  }

  .fish img:nth-child(5) {
    height: 7vw;
    margin-top: 45vw;
    right: -9.6%;
  }

  .fish img:nth-child(6) {
    height: 7vw;
    margin-top: 110vw;
    left: -9.6%;
  }

  .container2 .content1 h1 {
    font-size: 10vw;
  }

  .container2 .content1 p {
    line-height: 6.5vw;
    font-size: 4.5vw;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
    padding: 1.5vw 6vw 0px 6vw;
  }

  .container2 .content2 img {
    height: 45vw;
  }

  .container2 .content2 h1 {
    font-size: 6.5vw;
    left: 40.5%;
    top: 74%;
    text-shadow: 0.108vw 0.108vw 0.8vw #000;
  }

  .container3 h1 {
    font-size: 9vw;
    top: 15vw;
  }

  .container3 .skills {
    grid-row-gap: 10vw;
  }

  .container4 {
    height: 140vh;
  }

  .container4 h1 {
    font-size: 9vw;
    top: 15vw;
  }

  .container5 .content1 h1 {
    font-size: 10vw;
  }

  .container5 .content1 p {
    line-height: 6.5vw;
    font-size: 4.5vw;
    padding: 1.5vw 6vw 0px 6vw;
  }

  .container5 .content1 a {
    padding: 1.2vw 2.5vw;
    border-radius: 5vw;
    border: 0.3vw solid #fff;
    font-size: 3vw;
    margin: 4vw 0 4vw 0;
  }

  .container5 .content2 img {
    height: 45vw;
  }

  .container5 .content2 h1 {
    font-size: 6.5vw;
    left: 38%;
    top: 81%;
  }

  .container6 {
    height: 220vh;
  }

  .container6 .content {
    height: 220vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .container6 h1 {
    font-size: 7vw;
    line-height: 10vw;
  }

  .container6 .videos {
    grid-template-columns: 1fr;
    row-gap: 8vw;
  }

  .container6 .videos iframe {
    width: 71.0663vw;
    height: 40vw;
  }

  .container7 h1 {
    font-size: 7vw;
    padding: 8vw 4vw 0 4vw;
  }

  .score h2 {
    font-size: 4.5vw;
  }

  .score p {
    padding: 1.5vw;
    font-size: 3.8vw;
  }

  .intro h1 {
    font-size: 4.5vw;
    line-height: 6vw;
  }

  .intro button,
  .match button,
  .result button {
    width: 20vw;
    height: 6.5vw;
    font-size: 3.8vw;
    border-radius: 5vw;
    border: 0.3vw solid #fff;
  }

  .winner {
    font-size: 5vw;
  }

  .hands img {
    height: 14vw;
  }

  .container8 .plants img {
    height: 26vw;
  }

  .footer h3 {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 550px) {
  .top {
    height: 10vw;
    width: 10vw;
    font-size: 13vw;
  }

  .navLink {
    font-size: 5.5vw;
  }

  .container1 h1 {
    font-size: 6.5vw;
    top: 12vw;
    line-height: 9vw;
  }

  .container1 .hello img {
    height: 85vw;
  }

  .fish img:nth-child(1) {
    height: 7vw;
    margin-top: 10vw;
    left: -9.6%;
  }

  .fish img:nth-child(2) {
    height: 7vw;
    margin-top: 85vw;
    left: -9.6%;
  }

  .fish img:nth-child(3) {
    height: 7vw;
    margin-top: 110vw;
    right: -9.6%;
  }

  .fish img:nth-child(4) {
    height: 7vw;
    margin-top: 90vw;
    right: -9.6%;
  }

  .fish img:nth-child(5) {
    height: 7vw;
    margin-top: 75vw;
    right: -9.6%;
  }

  .fish img:nth-child(6) {
    height: 7vw;
    margin-top: 130vw;
    left: -9.6%;
  }

  .container2 .content1 h1 {
    font-size: 12vw;
  }

  .container2 .content1 p {
    line-height: 7vw;
    font-size: 5vw;
  }

  .container2 .content2 img {
    height: 60vw;
  }

  .container2 .content2 h1 {
    font-size: 7vw;
  }

  .container3 {
    height: 120vh;
  }

  .container3 h1 {
    font-size: 9.5vw;
  }

  .container3 .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 8vw;
  }

  .container3 .learning {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 8vw;
  }

  .container4 {
    height: 170vh;
  }

  .container4 .faceContent img {
    height: 27vw;
    width: auto;
  }

  .cards .card .face {
    width: 62.5vw;
    height: 40vw;
  }

  .cards .card .face.face1 {
    width: 62.5vw;
    height: 40vw;
    border-top-right-radius: 4vw;
    border-top-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
    border-bottom-left-radius: 4vw;
    transform: translateY(20vw);
  }

  .cards .card .face.face2 {
    transform: translateY(-20vw);
    border-top-right-radius: 4vw;
    border-top-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
    border-bottom-left-radius: 4vw;
  }

  .cards .card .face.face2 .faceContent p {
    font-size: 4vw;
    line-height: 5.5vw;
  }

  .cards .card .face.face2 .faceContent a {
    margin: 3vw 0 0;
    font-size: 3vw;
    border-radius: 5vw;
    padding: 1.3vw 3.5vw;
    border: 0.2vw solid #000;
  }

  .container5 .content1 h1 {
    font-size: 10vw;
  }

  .container5 .content1 p {
    line-height: 7vw;
    font-size: 5vw;
  }

  .container5 .content1 a {
    padding: 1.2vw 3vw;
    border-radius: 5vw;
    font-size: 4vw;
    margin: 6vw 0 4vw 0;
  }

  .container5 .content2 img {
    height: 60vw;
  }

  .container5 .content2 h1 {
    font-size: 7vw;
  }

  .container6 {
    height: 190vh;
  }

  .container6 .content {
    height: 190vh;
  }

  .container6 .videos {
    row-gap: 10vw;
  }
}

@media screen and (max-width: 500px) {
  .heroContainer .sea {
    bottom: 10%;
  }

  .heroContainer .boat img {
    bottom: 13%;
  }

  .heroContainer .fillSea {
    display: block;
  }

  .heroContainer .cloud1 img {
    width: 36.071vw;
    height: 20vw;
    right: -32%;
    margin-top: 80vw;
  }

  .heroContainer .cloud2 img {
    width: 39.0784vw;
    height: 23vw;
    right: -39%;
    top: 20vw;
  }

  @keyframes cloud1 {
    from {
      right: -36%;
    }
    to {
      right: 100%;
    }
  }

  .heroContainer .sun img {
    height: 47vw;
    filter: drop-shadow(0px 0px 10vw #ffc300);
  }

  .container1 h1 {
    font-size: 7vw;
    top: 15vw;
    text-shadow: 0.11vw 0.11vw 1.2vw #000;
  }

  .container1 .hello img {
    height: 95vw;
  }

  .fish img:nth-child(1) {
    height: 7vw;
    margin-top: 20vw;
    left: -9.6%;
  }

  .fish img:nth-child(2) {
    height: 7vw;
    margin-top: 95vw;
    left: -9.6%;
  }

  .fish img:nth-child(3) {
    height: 7vw;
    margin-top: 140vw;
    right: -9.6%;
  }

  .fish img:nth-child(4) {
    height: 7vw;
    margin-top: 110vw;
    right: -9.6%;
  }

  .fish img:nth-child(5) {
    height: 7vw;
    margin-top: 95vw;
    right: -9.6%;
  }

  .fish img:nth-child(6) {
    height: 7vw;
    margin-top: 160vw;
    left: -9.6%;
  }

  .bubble img:nth-child(1) {
    margin-top: 20vw;
    left: 80%;
    height: 15vw;
  }

  .bubble img:nth-child(2) {
    margin-top: 140%;
    height: 25vw;
  }

  .bubble img:nth-child(3) {
    margin-top: 50%;
    height: 11vw;
  }
}

/* Responsive Navigation Button Animation */
.nav-active {
  transform: translateY(0%);
  position: fixed;
}

.toggle .line1 {
  transform: rotate(45deg) translate(0px, 3.6vw);
}

.toggle .line2 {
  transform: translateX(100px);
}

.toggle .line3 {
  transform: rotate(-45deg) translate(0px, -3.6vw);
}

.toggle {
  position: fixed;
}

.fixed {
  position: fixed;
  z-index: 50;
}
